<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-white">
  <div class="container">
    <h1 class="display-3">Ask and Respond</h1>
    <p>
      The best place to learn and help to who are learing. Make questions to resolve your doubts and 
      share your knowledge answering it if you know about the topic.
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <h2 class="mb-4">Last Questions</h2>
  <div class="card bg-white mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-center">
          <a href="#" class="text-dark">
            <h3>
              2
            </h3>
            Answers
          </a>
        </div>
        <div class="col-10 d-flex align-items-stretch">
          <h4 class="mt-3">
            <a href="#" class="text-dark">Example Questions</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="card bg-white mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-center">
          <a href="#" class="text-dark">
            <h3>
              2
            </h3>
            Answers
          </a>
        </div>
        <div class="col-10 d-flex align-items-stretch">
          <h4 class="mt-3">
            <a href="#" class="text-dark">Example Question</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="card bg-white mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-center">
          <a href="#" class="text-dark">
            <h3>
              2
            </h3>
            Answers
          </a>
        </div>
        <div class="col-10 d-flex align-items-stretch">
          <h4 class="mt-3">
            <a href="#" class="text-dark">Example Question</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="card bg-white mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-center">
          <a href="#" class="text-dark">
            <h3>
              2
            </h3>
            Answers
          </a>
        </div>
        <div class="col-10 d-flex align-items-stretch">
          <h4 class="mt-3">
            <a href="#" class="text-dark">Example Question</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div> <!-- /container -->